[*.cs]
# CA1002: Do not expose generic lists
dotnet_diagnostic.CA1002.severity = none
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none
# CA2007: Consider calling ConfigureAwait on the awaited task 
dotnet_diagnostic.CA2007.severity = none
