@page
@using DNCCorporate.Public.Web.Framework.TextResources;
@using Microsoft.Extensions.DependencyInjection;

@addTagHelper *, DNCCorporate.Public.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DNCCorporate.Public.Web.Pages.ContactUsModel
@{
    Layout = "_Layout";

    var Localizer = HttpContext.RequestServices.GetService<TextResourceCultureLocalizer>();
    ViewData["Title"] = Localizer.Text("head-title.contact-us");
}

<vc:page-title page-name="Contact Us" />
<div class="container">
    <div class="row py-4">
        <div class="col-lg-6">
            <div class="overflow-hidden mb-1">
                <h2 class="font-weight-normal text-7 mt-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200"><strong class="font-weight-extra-bold">Contact</strong> Us</h2>
            </div>
            <div class="overflow-hidden mb-4 pb-3">
                <p class="mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Feel free to ask for details, don't save any questions!</p>
            </div>

            <form class="contact-form"
                  method="post"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-update="#contact-form-result"
                  data-ajax-loading="#contact-form-spinner"
                  data-ajax-begin="began"
                  data-ajax-complete="completed"
                  data-ajax-success="succeed"
                  novalidate>

                <div id="contact-form-result">
                    @await Html.PartialAsync("_ContactUsResultPartial", Model)
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark text-2" asp-for="Form.FullName">
                            Full Name
                        </label>
                        <input type="text" class="form-control" asp-for="Form.FullName" />
                        <span asp-validation-for="Form.FullName"></span>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="required font-weight-bold text-dark text-2" asp-for="Form.EmailAddress">
                            Email Address
                        </label>
                        <input type="email" class="form-control" asp-for="Form.EmailAddress" />
                        <span asp-validation-for="Form.EmailAddress"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="font-weight-bold text-dark text-2" asp-for="Form.Subject">
                            Subject
                        </label>
                        <input type="text" class="form-control" asp-for="Form.Subject" />
                        <span asp-validation-for="Form.Subject"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label class="required font-weight-bold text-dark text-2" asp-for="Form.Message">
                            Message
                        </label>
                        <textarea rows="8" class="form-control" asp-for="Form.Message"></textarea>
                        <span asp-validation-for="Form.Message"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <input type="submit" value="Send Message" class="btn btn-primary btn-modern">
                        <div id="contact-form-spinner" class="tp-loader spinner5" style="display:none"></div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-6">

            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="800">
                <h4 class="mt-2 mb-1">Our <strong>Office</strong></h4>
                <ul class="list list-icons list-icons-style-2 mt-2">
                    <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Address:</strong> 1234 Street Name, City Name, United States</li>
                    <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Phone:</strong> (123) 456-789</li>
                    <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                </ul>
            </div>

            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="950">
                <h4 class="pt-5">Business <strong>Hours</strong></h4>
                <ul class="list list-icons list-dark mt-2">
                    <li><i class="far fa-clock top-6"></i> Monday - Friday - 9am to 5pm</li>
                    <li><i class="far fa-clock top-6"></i> Saturday - 9am to 2pm</li>
                    <li><i class="far fa-clock top-6"></i> Sunday - Closed</li>
                </ul>
            </div>

            <h4 class="pt-5">Get in <strong>Touch</strong></h4>
            <p class="lead mb-0 text-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        </div>

    </div>

</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript">
            const submitEl = $("form.contact-form input[type='submit']");
            began = function () {
                submitEl.prop("disabled", true);
            };
            completed = function () {
                submitEl.prop("disabled", false);
            };
            succeed = function (data) {
                if (data.indexOf('alert-success') !== -1) {
                    $("form.contact-form ")[0].reset();
                }
            };
        </script>
    }
}                   